body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background-color: rgb(246, 125, 234);
    color: white;
    font-family: "Montserrat", sans-serif;
    padding: 1rem;
    position: fixed;
    width: 100vw;
    margin: 0;
    top: 0;
    left: 0;
  }
  
  .navbar a {
    color: black;
    text-decoration: none;
    margin: 0 1rem;
  }
/* Pour changer spécialement la couleur du 'Toggle Navigation Menu' */
  /* .navbar a i.fa-bars:hover {
    color: #ff9900;
} */


  .navbar a:hover {
    color: white;
  }
  
  .head {
    background-color: rgb(246, 125, 234);
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .First_Grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    padding: 64px;
  }

  .Scnd_Grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    padding: 64px;

  }
  
  .parag1, .text-grey {
    color: #999;
  }
  
  .padding-64 {
    padding: 64px;
  }
  
  .margin-right {
    margin-right: 1rem;
  }
  
  .container {
    text-align: center;
    padding: 64px;
  }
  
  .hover-opacity:hover {
    opacity: 0.7;
  }

  .quote {
    text-align: center;
    background-color: rgb(216, 212, 216);
    padding: 50px;
    color: black;
    size: 10;
  }
  